@font-face {
    font-family: 'BlodyHills';
    font-style: normal;
    font-weight: 400;
    src: url(./../assets/fonts/BloodyHills.ttf);
}

body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    background-color: #000;
}

header {
    margin-top: 3em;
    text-align: center;
    color: white;
}

header h1 {
    font-size: 2em;
    font-weight: 900;
}

canvas {
    width: 100vw !important;
    height: 100vh !important;
    position: absolute;
    top: 0;
    left: 0;
}

#coordinates{
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 1.5em;
    width: 0vw;
    height: 0vh;
    z-index: 1000;
    display: none;
}

#action{
    position: absolute;
    top: 50vh;
    right: 15vw;
    color: #2c2c2c;
    background-color: rgba(255, 255, 255, 0.9);
    font-size: xxx-large;
    width: 11vw;
    height: 5vh;
    z-index: 1000;
    border-radius: 0.1em;
    font-family: 'BlodyHills', serif;
    display: none;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;

}

#ESign{
    border: solid 4px black;
    width: 5vh;
    text-align: center;
    scale: 70%;
    margin-top: -0.1vh;
    font-weight: bolder;
}


#gameOverlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    display: none;
    z-index: 1012;

}

#crosshair {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    pointer-events: none;
}

#loadingScreen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("./../assets/images/LoadingScreen.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    font-size: 2em;
    z-index: 9999;
}

#deathScreen{
    position: absolute;
    font-family: "BlodyHills", serif;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 10vh;
    gap: 20vh;
    background-color: rgba(40, 0, 0, 1);
    background-size: cover;
    background-position: center;
    color: white;
    font-size: 30vh;
    z-index: 9999;
}

#start-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: 9000;
    display: block;
}

#fade-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    z-index: 10001;
    display: none;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

#Terminal {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url("./../assets/images/Terminal.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    font-family: "Courier New", Courier, monospace;
    overflow-y: auto;
    padding: 1em;
    z-index: 1002;
    display: none;
}

#display {
    position: absolute;
    top: 28vh;
    left: 38vw;
    height: 5vh;
    width: 30vw;
    z-index: 1003;
    font-size: 2em;
    background-color: rgba(255, 255, 255, 0);
    color: #74c874;

    text-shadow:
            0 0 5px #00ff00,
            0 0 10px #00ff00,
            0 0 20px #00ff00,
            0 0 40px #00ff00;
}

#end-video{
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: 9999;
    position: absolute;
    display: none;
}