@font-face {
    font-family: 'BlodyHills';
    font-style: normal;
    font-weight: 400;
    src: url(./../assets/fonts/BloodyHills.ttf);
}

body{
    font-family: 'BlodyHills', serif;
    background-color: #000;
    color: #fff;
}

.title{
    font-size: 19vh;
    position: absolute;
    left: 10vw;
    top: 15vh;
    pointer-events: none;
}

.container > span{
    color: #aaa;
    font-size: 8vh;
}

.container > span:hover{
    color: #fff;
    cursor: pointer;
}


.container{
    position: absolute;
    left: 10vw;
    top: 40vh;
    width: 20vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: left;
}